.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 4rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  color: black;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.again-btn {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-color: #1caff6;
  border-radius: 1rem;
}