.about {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #1caff6 0, #5accec 100%);
  padding: 3rem 0;

  &:before {
    content: '';
    position: absolute;
    background-image: url('../../assets/about/clouds.svg');
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 30%;
    z-index: 0;
    z-index: 0;
  }
}

.content {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  z-index: 1;

  span {
    font-size: 7rem;
    color: #fff;
    margin-bottom: 3rem;
  }
}

.offer {
  text-align: center;
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 4rem;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 4rem;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30rem;
}

.icon {
  width: 6rem;
  fill: #fff;
  margin-bottom: 1rem;
}

.title {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.text {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 1.6rem;
}

.start {
  a {
    display: inline-block;
    font-weight: 500;
    color: #1cb0f6;
    border-radius: 16px;
    border: 2px solid #e5e5e5;
    border-bottom: 6px solid #e5e5e5;
    background-color: #fff;
    padding: 1.2rem 1.6rem;
    transition: all 0.1s;

    &:hover {
      color: #1cb0f6;
    }
  }
}

.close {
  position: absolute;
  top: 2rem;
  left: 2rem;

  a {
    font-size: 3rem;
    color: #fff;
  }
}
