.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 37.5rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.error {
  position: absolute;
  top: 6rem;
  font-weight: 300;
  color: red;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
