// mormalize
@import '~normalize.css';

// utilits
@import './utils/fonts.scss';
@import './utils/vars';
@import './utils/settings';

body {
  font-family: $fontFamily;
  font-weight: 400;
  height: 100%;
  font-size: 1.8rem;
  color: #3c3c3c;
}

#root {
  height: 100%;
  width: 100%;
}
