.card {
  display: flex;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 2rem;
}

.image {
  width: 26rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  flex: 1 1 auto;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .word {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .text {
        font-size: 2rem;
        color: #525252;
        margin-right: 1rem;
      }
    }

    .translate {
      color: #7c7c7c;
    }
  }

  .sentence {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .text {
      display: flex;
      align-items: center;
      color: #525252;
      margin-right: 0;
      margin-bottom: 1rem;

      p {
        margin-right: 1rem;
      }
    }

    .translate {
      color: #7c7c7c;
    }
  }
}

.play {
  background: none;
  width: 2.5rem;
  height: 2.5rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

  .difficult,
  .done {
    background: none;
    width: 3rem;
    height: 3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.8;
    }
  }

  .difficult {
    margin-bottom: 2rem;
  }
}

.folder {
  position: relative;

  span {
    position: absolute;
    font-size: 1.4rem;
    top: 1rem;
    left: 0.8rem;
    color: #fff;
    font-weight: 500;
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    margin-right: 1rem;
  }
}
